body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height             : 100vh;
    background         : linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url(../media_content/images/pexels-daniel-xavier-1102343.jpg) fixed center no-repeat;
    background-size    : cover;
    background-position: 50% 50%;
}

/* navbar */
.nav-menu {
    background: transparent;
}

/* 
.nav-menu:hover {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8));
} */

.custom-align-center {
    position : relative;
    transform: translateX(0%);
}

.custom-navbar {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    box-shadow: 5px 2px 15px #444;
    color     : black;
}

/* end of navbar */
/* banner */
.banner {
    position: absolute;
    top     : 40%;
    left    : 15%;
}

.display-2 {
    font-size  : 1.3rem;
    font-weight: 500;
}

.contact-button {
    border-radius: 25px;
}

/* end of banner */
/* services */
.services-title {
    padding-top  : 6rem;
    margin-bottom: 8rem;
    font-size    : 2rem;
}

.services-card {
    box-shadow: 2px 5px 15px #c8cecf;
    transition: all .5s ease-in-out;
}

.services-card:hover {
    box-shadow: 7px 10px 50px rgb(197, 197, 197);
    transform : translateY(-10px);
}

/* end of services */
/* about me */
.about-section {
    margin-top: 5rem;
    position: relative;
}

.about-title::after {
    content   : "";
    position  : absolute;
    bottom    : 0;
    left      : 2%;
    height    : 2px;
    background: #207561;
    width     : 50px;
}

/* end of about me */