html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

header {
    height             : 100vh;
    background         : linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url(../media_content/images/pexels-daniel-xavier-1102343.jpg) fixed center no-repeat;
    background-size    : cover;
    background-position: 50% 50%;
}

/* navbar */
.nav-menu {
    background: transparent;
}

/* 
.nav-menu:hover {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8));
} */

.custom-align-center {
    position : relative;
    transform: translateX(0%);
}

.custom-navbar {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    box-shadow: 5px 2px 15px #444;
    color     : black;
}

/* end of navbar */
/* banner */
.banner {
    position: absolute;
    top     : 40%;
    left    : 15%;
}

.display-2 {
    font-size  : 1.3rem;
    font-weight: 500;
}

.contact-button {
    border-radius: 25px;
}

/* end of banner */
/* services */
.services-title {
    padding-top  : 6rem;
    margin-bottom: 8rem;
    font-size    : 2rem;
}

.services-card {
    box-shadow: 2px 5px 15px #c8cecf;
    transition: all .5s ease-in-out;
}

.services-card:hover {
    box-shadow: 7px 10px 50px rgb(197, 197, 197);
    transform : translateY(-10px);
}

/* end of services */
/* about me */
.about-section {
    padding-top: 5rem;
    position   : relative;
}

.about-title::after {
    content   : "";
    position  : absolute;
    bottom    : 0;
    left      : 2%;
    height    : 2px;
    background: #207561;
    width     : 50px;
}

.btn-css {
    border       : 1px solid transparent;
    font-size    : 15px;
    padding      : 10px 30px;
    border-radius: 30px;
}

.btn-css.contact-btn {
    background-color: #207561;
    border-color    : #207561;
    color           : white;
}

/* end of about me */
/* portfolio */
.portfolio-title {
    padding-top: 5rem;
    font-size  : 2rem;
}

.img-wrapper img {
    border-radius: 4px;
}

.section-title {
    position      : relative;
    padding-bottom: 20px;
}

.section-title::after {
    content   : "";
    position  : absolute;
    bottom    : 0;
    left      : 0;
    height    : 2px;
    background: #207561;
    width     : 50px;
}

.section-title.text-center::after {
    left                : 50%;
    /* -webkit-transform: translateX(-50%); */
    /* -ms-transform    : translateX(-50%); */
    transform           : translateX(-50%);
}

.section-title.text-center::after {
    background: #fff;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
}

.carousel-indicators>li {
    border-radius: 50%;
    width        : 9px;
    height       : 9px;
}

/* end of portfolio */

/* contact */
.input {
    background   : transparent;
    border-color : transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0%;
    transition   : all .8s;
}

.input:focus {
    background   : transparent;
    border-color : transparent;
    box-shadow   : none;
    color        : black;
    border-bottom: 2px solid #f5593d;
}


.label {
    position: absolute;
    color      : #000;
    display    : block;
    margin-top : -70px;
    margin-left: 4px;
    font-size  : 13px;
    transition : all .3s;
}

.input:placeholder-shown+.label {
    transform : translate(20px, 20px);
    opacity   : 0;
    visibility: hidden;
}
/* end of contact */