html {
  overflow-x: hidden;
}
//variables
$black: #000;
$font-size-base: 1rem !default; //assumes the browser default, 16px
$white: #fff;
$font-family-2: "Montserrat", sans-serif;

body {
  line-height: 1.7;
  color: lighten($black, 40%);
  font-weight: 400;
  font-size: $font-size-base;
}

::-moz-selection {
  background: $black;
  color: $white;
}

::selection {
  background: $black;
  color: $white;
}

a {
  transition: 0.3s all ease;
  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: $font-family-2;
  color: $black;
}
body {
  &:after {
    transition: 0.3s all ease-in-out;
  }
}
.site-section {
	padding: 5em 0;
}

