/* base */
html {
  overflow-x: hidden;
}

body {
  line-height: 1.7;
  color: #666666;
  font-weight: 400;
  font-size: 1rem;
}

nav a {
  font-weight: 700;
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.change .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

body:after {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.site-section {
  padding: 5em 0;
}

.navbar-css:hover {
  background: #fff;
}

.button-nav-css {
  outline: none;
  border: none;
}

.button-nav-css:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.buttons-css {
  background-color: #0b4796;
  border-color: #0b4796;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 30px;
  padding: 10px 30px;
  border: 1px solid transparent;
}

.buttons-css:hover {
  background-color: #000;
}

.buttons-css:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.banner p {
  font-size: 1.25rem;
  color: #000;
}

.section-title {
  position: relative;
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.service-title {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 650;
}

.services-card {
  -webkit-box-shadow: 2px 5px 15px #c8cecf;
          box-shadow: 2px 5px 15px #c8cecf;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.services-card:hover {
  -webkit-box-shadow: 7px 10px 50px #c5c5c5;
          box-shadow: 7px 10px 50px #c5c5c5;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.services-card .card-logo {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-right: 1.5rem;
}

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
}

.img-border img {
  border-radius: 4px;
}

.portfolio-card {
  text-align: center;
  display: table;
  background-color: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
}

.portfolio-card:hover img {
  opacity: 0.5;
}

.portfolio-card:hover p {
  color: #fff;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.portfolio-card p {
  color: transparent;
}

@media only screen and (max-width: 419px) {
  .portfolio-card p {
    font-size: 1.3rem;
  }
}

.section-title.text-center::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-title.text-center::after {
  background: #fff;
}

.testimonials-title {
  color: #fff;
  margin-top: 3rem;
}

.testimonials-background {
  background-color: #072f63;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #0b4796;
  width: 50px;
}

.carousel-dimensions {
  width: 150px;
  height: 150px;
}

.carousel-inner > .carousel-item > img {
  margin: auto;
}

.carousel-indicators > li {
  border-radius: 50%;
  width: 9px;
  height: 9px;
}

.contact-title {
  text-align: left;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 3rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 766px) {
  .contact-title {
    font-size: 2.5rem;
  }
}

.contact-subtitle {
  text-align: left;
  padding-top: 3rem;
  font-weight: 700;
}

#footer-end {
  background: #f1f1f1;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  border-radius: 10px;
}
/*# sourceMappingURL=styles.css.map */